*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    background-color: rgb(83, 160, 238);
}
h1 {
    margin: 20px;
}
h2 {
    margin: 20px;
}
.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.main-body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 725px;
    height: 600px;  
}
#canvas {
    border: 5px solid black;
    width: 100%;
    height: 100%;
}
